# Python Data Type

1. Number - int, float, complex

In [1]:
x=5
y=5.5
z=5 +5j
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

5
<class 'int'>
5.5
<class 'float'>
(5+5j)
<class 'complex'>

2. String - No character Type in Python

In [2]:
#x='A'
x="Ami Banglay gan gai..."
print(x)
print(type(x))

Ami Banglay gan gai...
<class 'str'>

3. Sequence Type : List, Tuple, Range

3. 3.1 List Type

In [23]:
# List object is mutable/changible, order, duplicate allowed
l=[10,20,30]
l=[10,20,30,5.5]
l=[10,20,30,5.5,'a','a']
print(l)
print(type(l))

[10, 20, 30, 5.5, 'a', 'a']
<class 'list'>

List Operation

In [38]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [42]:
thislist = ["apple", "banana", "cherry","Mango"]
print(thislist[1])

banana

In [43]:
thislist = ["apple", "banana", "cherry","Mango"]
print(thislist[-2])

cherry

In [46]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:5])
print(thislist[5:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['melon', 'mango']

In [47]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [50]:
thislist = ["apple", "banana", "cherry"]
print( "Mango" in thislist)
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

False
Yes, 'apple' is in the fruits list

In [13]:
# Tuple object is mutable/changible, order
l.append("Dhaka")
print(l)

[10, 20, 30, 5.5, 'a', 'Dhaka']

4. 3.2 Tuple Type

In [24]:
# Tuple object is immutable/unchangible, order, , duplicate allowed
t=(10,20,30)
t=(10,20,30,5.5)
t=(10,20,30,5.5,'a','a')
print(t)
print(type(t))

(10, 20, 30, 5.5, 'a', 'a')
<class 'tuple'>

In [16]:
# Tuple object is immutable/unchangible
#t.append("Dhaka")
#print(t)

5. Set Type

In [26]:
# Set is mutable, unordered, , duplicate not allowed
s={10,20,30}
s={10,20,30,5.5}
s={10,20,30,5.5,'a', 'a'}
print(s)
print(type(s))

{5.5, 10, 'a', 20, 30}
<class 'set'>

In [22]:
s.add("Dhaka")
print(s)

{5.5, 10, 'a', 20, 'Dhaka', 30}

6. Dictionary Type

In [29]:
# key, value pair,duplicate(value), allowed,Mutable/changible
d={5:'Sajib',15:'Kanita',14:'Tarikul', 105:'Kanita'}
print(d)
print(d[15])

{5: 'Sajib', 15: 'Kanita', 14: 'Tarikul', 105: 'Kanita'}
Kanita

In [30]:
d[15]='Rasni'
print(d)

{5: 'Sajib', 15: 'Rasni', 14: 'Tarikul', 105: 'Kanita'}

Sequence - Range

In [31]:
r=range(10)
print(r)

range(0, 10)

In [32]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

boolean Type

In [37]:
print(10>5)
print(10<5)

True
False

In [35]:

print(bool("Hello"))
print(bool(15))
print(bool(0))
print(bool(-10))

True
True
False
True